.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar_Styles {
  top: 50px;
  position: sticky;
}
@media screen and (max-width: 1028px) and (min-width: 768px) {
  .stack_flex {
    flex-direction: column;
  }
  .navbar_box_low{
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .stack_flex {
    flex-direction: column;
  }
  .navbar_box_low{
    justify-content: space-between;
    margin-left: 60px;
  }
  .btn_navbar_btn{
    display: none;
  }
}

.heading {
  width: 90%;
}
.heading_span {
  font-size: 100px;
  line-height: 90%;
  color: #fff;
}
h1 {
  display: block;
  font-size: 1.7em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.box1 {
  background-color: #041527;
  margin-top: -19px;
  width: 100%;
}
.box {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 50px 0px;
}

.view_button {
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 2rem;
  background-color: transparent;
  color: #fff;
  box-shadow: inset 0 0 0 2px #fff;
  margin-left: 20px;
}
.video {
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: unset;
}
.svg_name {
  margin-top: -20px;
}
.logo_carosuel {
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 100%;
  font-family: "TT Norms Pro", Helvetica, Arial, sans-serif;
}
.spane {
  font-size: 24px;
  line-height: 150%;
  color: #d3d5d8;
  font-weight: 400;
  letter-spacing: 0.4px;
}
@media screen and (max-width:1028px) and (min-width:768px){
  .heading_span{
    font-size: 28px;
  }
}
@media screen and (max-width:767px) and (min-width:320px){
  .heading_span{
    font-size: 24px;
    margin-left: 50px;
  }
}

.h1_tag_footer {
  font-family: "VC Honey", Helvetica, Arial, sans-serif;
  font-size: 76px;
  line-height: 150%;
  font-weight: 400;
}
.footer_div_part{
  display: flex;
  background-color: #fff;
}
.ul_li {
  font-size: 22px;
}
@media screen and (max-width: 1028px) and (min-width: 768px) {
  .h1_tag_footer {
    font-size: 26px;
  }
  .footer_div_part{
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {
  .h1_tag_footer {
    font-size: 22px;
  }
  .footer_div_part{
    flex-direction: column;
  }
}